@charset "UTF-8";
.boxsizing, .header, .footer {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box; }

html,
body {
  background: #fff;
  font-family: "Microsoft Yahei", "微软雅黑", "宋体", arial;
  color: #333;
  position: relative; }

h5 {
  font-size: 22px;
  font-weight: 400;
  color: #333; }

.left {
  float: left; }

.right {
  float: right; }

/*旋转木马必要样式*/
.poster-main {
  position: relative;
  display: inline-block;
  width: 800px;
  height: 270px; }
  .poster-main a, .poster-main img {
    display: block; }
  .poster-main .poster-list {
    width: 800px;
    height: 270px; }
    .poster-main .poster-list .poster-item {
      position: absolute;
      left: 0;
      top: 0; }
  .poster-main .poster-btn {
    position: absolute;
    top: 0;
    width: 100px;
    height: 270px;
    z-index: 10;
    cursor: pointer;
    opacity: 0.8; }
  .poster-main .poster-prev-btn {
    left: 0;
    background: url(../imgs/btn_l.png) no-repeat center center; }
  .poster-main .poster-next-btn {
    right: 0;
    background: url(../imgs/btn_r.png) no-repeat center center; }

/*头部样式*/
.header {
  background: #3875c2;
  width: 100%;
  height: 110px;
  padding-top: 65px; }
  .header .header-container {
    position: relative;
    width: 1100px;
    margin: 0 auto; }
    .header .header-container .header-logo {
      position: absolute;
      top: -55px;
      left: 0;
      z-index: 2; }
    .header .header-container .header-search {
      position: absolute;
      top: -50px;
      right: 0;
      z-index: 2; }
      .header .header-container .header-search input {
        color: #fff;
        outline: none;
        border: 1px solid #fff;
        background: #3875c2;
        padding: 0px 5px;
        width: 250px;
        line-height: 30px; }
      .header .header-container .header-search span {
        color: #fff;
        line-height: 30px;
        cursor: pointer; }
      .header .header-container .header-search .search {
        font-size: 18px;
        border: 1px solid #fff;
        border-left: none;
        padding: 0px 20px; }
      .header .header-container .header-search .hight-search {
        padding: 1px 10px; }
    .header .header-container .header-nav .layui-nav {
      background: #3875c2; }
      .header .header-container .header-nav .layui-nav .layui-this:after {
        background: #FFF; }
      .header .header-container .header-nav .layui-nav .layui-nav-bar {
        background: #fff; }
    .header .header-container .header-nav .layui-nav-item {
      line-height: 45px; }
      .header .header-container .header-nav .layui-nav-item > a {
        font-size: 18px;
        padding: 0px 34px; }
        .header .header-container .header-nav .layui-nav-item > a > span {
          display: none; }
    .header .header-container .header-nav .login {
      line-height: 45px; }
      .header .header-container .header-nav .login > a {
        color: #c2c2c2;
        cursor: pointer;
        transition: all .3s;
        -webkit-transition: all .3s; }
        .header .header-container .header-nav .login > a:hover {
          color: #fff; }
      .header .header-container .header-nav .login > span {
        color: #c2c2c2;
        padding: 0px 8px; }

/*高级检索*/
.mask-search {
  display: none;
  background: #fff;
  position: absolute;
  top: 110px;
  left: 0px;
  z-index: 1001;
  width: 100%;
  padding-top: 35px; }
  .mask-search .search-term {
    width: 1000px;
    height: 100%;
    margin: 0 auto; }
    .mask-search .search-term .slect-hide {
      display: none; }
    .mask-search .search-term .add-icon {
      width: 25px;
      height: 20px;
      padding: 6px 0px;
      margin: 0px 20px 0px 35px;
      cursor: pointer;
      background: url(../imgs/icon-add.png) no-repeat 0% 50%; }
    .mask-search .search-term .dec-icon {
      background: url(../imgs/icon-del.png) no-repeat 0 50%; }
    .mask-search .search-term .select-icon {
      background: url(../imgs/icon-select.png) no-repeat 0 50%; }
    .mask-search .search-term .selected-icon {
      background: url(../imgs/icon-selected.png) no-repeat 0 50%; }
    .mask-search .search-term .select-type {
      width: 140px; }
      .mask-search .search-term .select-type input {
        height: 32px;
        line-height: 32px; }
    .mask-search .search-term .select-text {
      padding: 0;
      color: #666;
      height: 32px;
      line-height: 32px; }
    .mask-search .search-term .select-cont {
      width: 300px; }
      .mask-search .search-term .select-cont input {
        height: 32px;
        line-height: 32px; }
    .mask-search .search-term .select-date {
      position: relative; }
      .mask-search .search-term .select-date input {
        height: 32px;
        line-height: 32px; }
      .mask-search .search-term .select-date i {
        position: absolute;
        top: 8px;
        right: 1px;
        z-index: 1000;
        width: 25px;
        height: 20px;
        background: url(../imgs/date.png) no-repeat;
        background-color: #fff; }
    .mask-search .search-term .search-submit {
      margin: 65px 0px 30px 0px;
      text-align: center; }
      .mask-search .search-term .search-submit .btn-submit {
        background: #3875c2;
        width: 140px; }
      .mask-search .search-term .search-submit .btn-cancel {
        background: #fff;
        width: 140px;
        color: #3875c2;
        border: 1px solid #3875c2; }

/*登陆*/
.mask-login {
  display: none;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 999;
  background-color: rgba(255, 255, 255, 0.5);
  width: 100%;
  height: 100%; }
  .mask-login .sign-in {
    background: #fff;
    width: 420px;
    height: 380px;
    border-radius: 5px;
    margin: 0 auto;
    margin-top: 20%;
    border: 1px solid #eeeeee; }
    .mask-login .sign-in .title {
      color: #666;
      font-size: 24px;
      text-align: center;
      font-weight: bold;
      padding: 23px 0px 40px 0px;
      border-bottom: 1px solid #e1e1e1; }
    .mask-login .sign-in ul li {
      line-height: 60px;
      border-bottom: 1px solid #e1e1e1; }
      .mask-login .sign-in ul li input {
        font-size: 18px;
        padding: 0px 10px 0px 20px;
        border: none; }
      .mask-login .sign-in ul li img {
        margin-left: 10px; }
    .mask-login .sign-in ul .login-in {
      border: none;
      text-align: center;
      padding-top: 15px; }
      .mask-login .sign-in ul .login-in button {
        background: #3875c2;
        width: 340px;
        height: 40px;
        border: none;
        color: #fff;
        font-size: 18px;
        cursor: pointer;
        border-radius: 4px; }

/*底部*/
.footer {
  background: #3875c2;
  width: 100%;
  height: 90px;
  text-align: center; }
  .footer .title li {
    display: inline-block; }
    .footer .title li a {
      display: inline-block;
      color: #fff;
      padding: 15px 24px 8px 24px; }
  .footer p {
    color: #fff;
    line-height: 18px; }

/*主体样式*/
.main {
  background: #FFF;
  width: 100%;
  padding: 20px 0px; }
  .main .main-content {
    width: 1000px;
    margin: 0 auto; }
    .main .main-content .banner {
      position: relative;
      background: url(../imgs/banner.png) no-repeat;
      width: 100%;
      height: 400px; }
      .main .main-content .banner ul {
        position: absolute;
        bottom: 0px;
        left: 0px;
        z-index: 5;
        background-color: rgba(56, 117, 194, 0.7);
        width: 100%; }
        .main .main-content .banner ul li {
          position: relative;
          display: inline-block;
          text-align: center;
          line-height: 60px;
          width: 330px; }
          .main .main-content .banner ul li:after {
            position: absolute;
            top: 17px;
            right: -2px;
            z-index: 1;
            content: '';
            width: 1px;
            height: 30px;
            background: #fff; }
          .main .main-content .banner ul li.lastchild:after {
            width: 0px; }
          .main .main-content .banner ul li a {
            color: #fff;
            font-size: 24px;
            cursor: pointer; }
    .main .main-content .iterm {
      padding: 30px 20px;
      border-bottom: 1px solid #e1e1e1; }
      .main .main-content .iterm .title {
        line-height: 30px; }
        .main .main-content .iterm .title h5 {
          display: inline-block; }
        .main .main-content .iterm .title a {
          font-size: 16px;
          cursor: pointer; }
      .main .main-content .iterm > ul {
        padding-top: 20px; }
        .main .main-content .iterm > ul li {
          display: inline-block;
          width: 300px; }
          .main .main-content .iterm > ul li .msg-date {
            width: 60px;
            background: #d5d9e0;
            text-align: center;
            padding: 10px 0px 8px 0px; }
            .main .main-content .iterm > ul li .msg-date span {
              font-size: 26px;
              color: #333; }
            .main .main-content .iterm > ul li .msg-date div {
              color: #333;
              font-size: 12px; }
          .main .main-content .iterm > ul li .msg {
            width: 220px;
            padding-bottom: 20px; }
            .main .main-content .iterm > ul li .msg a {
              display: block;
              cursor: pointer; }
              .main .main-content .iterm > ul li .msg a div {
                color: #333;
                font-size: 18px;
                line-height: 34px; }
              .main .main-content .iterm > ul li .msg a p {
                color: #666;
                font-size: 12px;
                line-height: 22px; }
        .main .main-content .iterm > ul .margin {
          margin-right: 25px; }
        .main .main-content .iterm > ul .news a {
          display: block;
          cursor: pointer; }
          .main .main-content .iterm > ul .news a img {
            border: none; }
          .main .main-content .iterm > ul .news a .title {
            color: #333;
            font-size: 18px;
            padding-top: 17px; }
          .main .main-content .iterm > ul .news a p {
            color: #666;
            font-size: 14px;
            line-height: 26px; }
      .main .main-content .iterm .learning {
        padding: 35px 0px; }
        .main .main-content .iterm .learning .learning-msg {
          width: 625px; }
          .main .main-content .iterm .learning .learning-msg h5 {
            font-size: 24px; }
          .main .main-content .iterm .learning .learning-msg p {
            padding-top: 10px;
            line-height: 26px; }
          .main .main-content .iterm .learning .learning-msg a {
            display: inline-block;
            background: #3875c2;
            margin-top: 40px;
            width: 120px;
            color: #fff;
            line-height: 33px;
            text-align: center;
            border-radius: 3px;
            cursor: pointer; }
      .main .main-content .iterm .organization {
        padding-top: 20px;
        word-break: keep-all; }
        .main .main-content .iterm .organization a {
          display: inline-block;
          cursor: pointer;
          font-size: 16px;
          padding-right: 18px;
          line-height: 28px; }
          .main .main-content .iterm .organization a:hover {
            color: #3875c2; }
